/*----------mixin----------*/

@mixin titulos ($color, $font-size, $margin-top, $font-weight,
    $text-align) {
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
    margin-top: $margin-top;
    text-align: $text-align
}



.faqsTitulo {
    @include titulos($gris, 4rem, 5vh, 600, center);
    margin-bottom: 5vh;

}

/*! =================================================*/
/*! ============= Categorias ============= */
/*! =================================================*/

.categorias {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 60px;
}

.categoria {
    cursor: pointer;
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    background: #fff;
    font-weight: 700;
    color: $gris-claro;
    border: 2px solid transparent;
    transition: .3s ease all;

    p {
        font-size: 2vh;
    }

    &:hover {
        box-shadow: $sombra;
        color: #000;

        path {
            fill: $primario;
        }
    }

    svg {
        width: 4vw;
        margin-bottom: 10px;
    }

    path {
        fill: $gris-claro;
        transition: .3s ease all;
    }

    &.activa {
        border: 2px solid $primario;
        color: #000;

        path {
            fill: $primario;
        }
    }
}

/*! =================================================*/
/*! ============= Contenedor Preguntas ============= */
/*! =================================================*/

.contenedor-preguntas {
    display: none;
    grid-template-columns: 1fr;
    gap: 40px;

    &.activo {
        display: grid;
    }
}

.contenedor-pregunta {
    background: #fff;
    padding: 40px;
    border: 2px solid transparent;
    border-radius: 25px;
    overflow: hidden;
    transition: .3s ease all;
    cursor: pointer;

    &:hover {
        box-shadow: $sombra;
    }

    &.activa {
        border: 2px solid $primario;
    }
}

/*! =================================================*/
/*! ============= Preguntas ============= */
/*! =================================================*/

.pregunta {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 14px;
    }
}

.respuesta {
    font-size: 2rem;
    color: #808080;
    line-height: 30px;
    max-height: 0;
    opacity: 0;
    transition: .3s ease all;
}

.contenedor-pregunta.activa {
    .respuesta {
        opacity: 1;
        margin-top: 20px;
    }

    img {
        transform: rotate(45deg);
    }
}