/*--------*Principal-----------*/


.principal {


    .principal__titulo {
        font-size: 4rem;
        margin-top: 5vh;
        margin-bottom: 5vh;
        font-weight: 600;
        color: $gris;
        text-align: center;
    }

    .principal__imagen {
        text-align: center;
    }

    .principal__texto {
        font-size: 4rem;
        font-weight: 600;
        color: $gris;
        text-align: justify;
        text-align-last: center;

        .principal__texto--negrita {
            color: black;
            font-size: 4.5rem;
        }

    }

    .principal__textoDos {
        font-size: 3rem;
        font-weight: 600;
        margin-top: 5vh;
        color: $gris;
        text-align: justify;
        text-align-last: center;

    }
}




/*---------Utilidades-----------*/


#utilidades {
    margin-top: 5vh;

    .utilidades__dif {
        margin-top: 10vh;

        .utilidades__img {
            margin-bottom: 3vh;
        }

        .utilidades__dif--h2 {
            font-size: 2.5rem;
            font-weight: 600;
            color: $gris;
        }

        .utilidades__dif--p {
            font-size: 1.5rem;
            color: $gris;
        }
    }

}

/*---------sub_texto-----------*/

.subtexto {
    margin-top: 18vh;
    margin-bottom: 15vh;

    .subtexto__titulo {
        font-size: 4rem;
        margin-bottom: 2vh;
        font-weight: 600;
        color: #000;
    }

    .subtexto__parrafo {
        max-width: 600px;
        margin: auto;
        font-size: 2rem;
        margin-bottom: 3vh;
        color: $gris;
        text-align: justify;
        text-align-last: center;
    }

    .subtexto__btn {
        font-size: 2rem;
        font-weight: 600;
        background-color: $primario;
        text-decoration: none;
        border-radius: 25px;
        border: 2px solid #65a58a;
        cursor: pointer;
        color: #ffffff;
        padding: 0.5vw 2vh;
        margin-bottom: 3vh;

        &:active {
            position: relative;
            top: 2px;
        }
    }
}